<!doctype html>
<html ng-app="app">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <style>
        .actif {
            color: cornflowerblue !important;
        }
    </style>

</head>
<body>

<div ng-controller="TodoList" flex>
    <md-content layout="column">

        <div layout="row" layout-margin>
            <div flex>
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="currentObj.text" placeholder="Enter a name here">
                </md-input-container>

                <md-checkbox ng-model="currentObj.statut" ng-show="currentObj.id != undefined" class="md-primary">
                </md-checkbox>

                <md-button class="md-raised md-warn" ng-show="currentObj.id == undefined" ng-click="addInput()">
                    Ajouter
                </md-button>

                <md-button class="md-raised md-warn" ng-show="currentObj.id != undefined" ng-click="validEditInput(idEdit)">
                    Modifier
                </md-button>

                <md-button class="md-raised md-warn" ng-show="currentObj.id != undefined" ng-click="closeEdit()">
                    Close
                </md-button>
            </div>

            <div flex>
                <md-input-container>
                    <label>Search</label>
                    <input type="text" ng-model="search" placeholder="Search" ng-change="getSearch()">
                </md-input-container>
            </div>
        </div>

        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>Taches en cours</span>
            </h2>
        </md-toolbar>

        <md-list>
            <list-directive ng-repeat="(key, value) in listEnCours" list-expended="deleteInput" d-key="key" d-value="value" edit="editInput">
            </list-directive>
        </md-list>

        <div layout="row" layout-margin layout-align="center center">
            <md-button ng-click="goToPage(currentPage - 1)" ng-if="currentPage >= 1">Précédent</md-button>

            <div ng-repeat="(key, value) in nbPages">

                <span ng-click="goToPage(key)" ng-class="{actif: currentPage == key}">{{ value }}</span>

            </div>

            <md-button ng-click="goToPage(currentPage + 1)" ng-if="currentPage < maxSizePage -1">Suivant</md-button>
        </div>

    </md-content>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="app.js" type="text/javascript"></script>

</body>
</html>