
<md-list-item ng-click="edit(key)" class="md-2-line">

    <p  ng-class="{actif: value.statut}">{{value.id}} : {{value.text}}</p>

    <md-button class="md-raised md-warn" ng-click="listExpended(key)">Supprimer</md-button>
    <md-divider ng-if="!$last"></md-divider>

</md-list-item>

